<ol>
<div>
	<h2>您的購物車</h2>
	<% current_cart.cart_products.each do |p| %>
	  <li>
	    <%= p.product.name %> 價格NT$:<%= p.product.price %> 數量:<%= p.quantity %>
	    <%= link_to "減少1個", remove_product_path(p.product), :method => :post %>

	  </li>
	<% end %>
	</ol>
</div>
<div>
	<% if @order.errors.present? %>
		<%= @order.errors.full_messages %>
	<% end %>
</div>

<hr>
<%= form_for @order do |f| %>

	
    <%= f.label :name %><br>
    <%= f.text_field :name%><br>

    <%= f.label :phone %><br>
    <%= f.text_field :phone %><br>

		<%= f.label :address %><br>
    <%= f.text_field :address %><br>
		
		<%= f.label :payment_method %><br>
    <%= f.select :payment_method, [ ["信用卡", "credit_card"], ["ATM轉帳", "atm"]] %><br>

    <%= f.label :shipping_method %><br>
    <%= f.select :shipping_method, [ ["宅配", "home_delivery"], ["超商取貨", "convenience_store"]] %><br>

		<%= f.submit %>

<% end %>
<hr>
<%= link_to '等一下再結帳，繼續購物', products_path %>