<div class="container text-center">
<h1>後台首頁</h1>
<%= link_to '新增產品' ,new_admin_product_path , class: "btn-default"%>
</div>
<div class="container text-center">
<% @products.each do |p| %>
	<div class="col-md-4">
	<table>
		<tr>
		 	<td>
				<%= image_tag(p.image, class:"product2") %>
			</td>
		</tr>
		<tr>
		 	<td>
				<p>產品名稱 : <%= p.name %></p> 
			</td>
		</tr>
		<tr>
			<td>
				<p>價格: NT$<%= p.price %></p>
			</td> 
		</tr>
		<tr>
		 	<td>
				<%= link_to '查看細節', admin_product_path(p), class:"btn-default" %>
			</td>			
		</tr>	
		</table>
	</div>

<% end %>
</div>

