<h1>Product後台首頁</h1>
<%= link_to '新增產品' ,new_admin_product_path %>
<% @products.each do |p| %>
	<table>
		<tr>
		 	<td>
				<%= image_tag(p.image) %>
			</td>
		</tr>
		<tr>
		 	<td>
				<p>產品名稱 : <%= p.name %></p> 
			</td>
		</tr>
		<tr>
			<td>
				<p>價格: NT$<%= p.price %></p>
			</td> 
		</tr>
		<tr>
		 	<td>
				<%= link_to '查看更多', admin_product_path(p) %>
			</td>
			
		</tr>	


<% end %>