<div class="container">
	<h1><%= @product.name %></h1>
	<%= link_to '編輯產品' ,edit_admin_product_path(@product) , class:"btn-default"%>
	<%= link_to '刪除產品', admin_product_path(@product),method: :delete, data:{ confirm: "確定要刪除產品嗎?"} , class:"btn-default"%>
	<%= link_to '回後台首頁' ,admin_products_path , class:"btn-default"%>
</div>
<div class="container">
	<%= image_tag(@product.image, class:"product2") %>
	<p>價格 : NT$<%= @product.price %></p>
	<p>庫存 : <%= @product.quantity %> 個</p> 
	<p>化妝品字號 : <%= @product.code %></p> 
	<p>容量: <%= @product.volume %>/ <%= @product.volume_type %></p>
	<p>產地 : <%= @product.location %></p>
	<p>到期日 : <%= @product.expiry_date %></p>
	<p>使用說明 : <%= @product.usage %></p>
	<p>產品敘述 : <%= @product.description %></p>
</div>


