	<div class="cart text-center">
		<p >
		<%= link_to new_order_path(@order)  do%> 
				<i class="fa fa-shopping-cart fa-2x" aria-hidden="true"> <%= current_cart.total_quantity%> </i><small>個純產品</small>
		<% end %>
		
		</p>		
	</div>
	<div class="container">
		<% @products.each do |p| %>
			<div class="col-md-6">
				<div class="col-md-4">
						<%= image_tag(p.image, class:"product")%>
				</div>
				<div class="col-md-8">
						<h3><%= p.name %></h3> 
				
						<p>NT$<%= p.price %></p>
				
						<%= link_to product_path(p) do%>
							<i class="fa fa-search-plus fa-2x" aria-hidden="true"></i>
						<% end %>
						<%= link_to  add_to_cart_product_path(p), :method => :post, :remote => true  do%>
						<i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i>
						<% end %> 
				</div>
			</div>
		<% end %>

	</div>


