<h1>Product Details</h1>

<%= image_tag(@product.image) %>
<%= link_to "加入購物車", add_to_cart_product_path(@product), :method => :post%>
<p>產品名稱 : <%= @product.name %></p> 
<p>價格 : NT$<%= @product.price %></p>
<%= link_to '回首頁' ,products_path %>