<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="nav navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <a class="navbar-brand navbar-left" href="#">
          <span class="font-playfair"> <lead>Pure</lead> <small>Cosmetics</small></span>
        </a>
      </div>
      <div class="container-fluid">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><%= link_to '關於我們', aboutus_path%></li>
          <li><%= link_to '純產品', products_path%></li>
          <li><%= link_to '聯絡我們', contactus_path %></li>
        
        </ul>

        <p class="login navbar-text navbar-right"> 
          <% if current_user %>       
            <%= link_to('訂購紀錄', orders_path,class:"btn-default") %>
            <%= link_to('登出', destroy_user_session_path, :method => :delete,class:"btn-default") %>
            <%= link_to('更改資料', edit_registration_path(:user),class:"btn-default") %>
            <% if current_user.role == "admin" %>
              <%= link_to("admin中心", admin_products_path ,class:"btn-default") %>
            <% end %>  

          <% else %>
            <%= link_to '登入', new_session_path(:user), class:"btn-default login"%>
            
            <%= link_to '註冊',new_registration_path(:user), class:"btn-default login" %>
            
          <% end %>
          </p>

      </div>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>

<style>

</style>

